$parrafos: 1em "Raleway", sans-serif;
$titulos: 1.5em "Lato", sans-serif;
$obscuro: #0a3143;
$claro: #cecfc9;
$colorLetras: #222222;
$principal: #276e90;

.article__banner--width {
  width: 100%;
  height:40vh;
}
.sectionAside--flex {
  display: flex;
  flex-direction: row;
  section{
    width: 100%;
   p{
     width: 100%;
     text-align: center;
     margin:2px;
   }
   .container{
     display: flex;
     flex-direction: row;
     margin:0;
     .card:hover{
       background-color: $claro;
       border: solid 2px $obscuro;
     }
 }
}
}

.cards__imagenes--size {
    width: 7rem;
    height: 10rem;
    margin-top: 6px;
  }
 


aside {  
  position: sticky;
  top: 13.5em;
  width: 20%;
  height: 20em;
  overflow: hidden;
  margin: 3px 2px 1px 1px;
}
.aside__div--animacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%; 
  width: 60rem;
  animation: desliza 15s infinite alternate-reverse;
  animation-timing-function: linear;
}
@keyframes desliza {
  from {
    margin-left: 0%;
    width: 300%;
  }
  50% {
    margin-left: -100%;
    width: 300%;
  }
  to {
    margin-left: -200%;
    width: 300%;
  }
}
.aside__div--animacion:hover {
  animation-play-state: paused;
}

.aside__elementos--size {
  width: 100%;
  height: 100%;
}

@media (max-width:1024px) {  
  .sectionAside--flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    section{
      width: 90%;
    }
  }
  aside{
    width:75%;
  .aside__div--animacion {
    height: 15em;
    width: 100%;
  }
}
}