$parrafos: 1em "Raleway", sans-serif;
$titulos: 1.5em "Lato", sans-serif;
$obscuro: #0a3143;
$claro: #cecfc9;
$colorLetras: #222222;
$principal: #276e90;

.inscripcion {
  height: 100vh;
  background-image: url(../assets/fondo.png);
  background-size: 100vh;
  article {
    height: 100%;
    margin-bottom: 1.5rem;
  }
}
.inscripcion__formulario--flex {
  background-color: #efefef;
  margin: 0 auto;
  padding: 1rem;
  height: 85%;
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: $obscuro solid 2px;
  border-radius: 5%;
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.formulario__boton--color {
  background-color: lightgray;
}
.formulario__estadoCivil--size {
  width: 7rem;
}
